# Postgres superuser
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=postgres
# Application
APP_USER=todos_user
APP_PASSWORD=password
APP_DB=todos_db
APP_HOST=db
# Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-super-secret-key-here
AUTH_TRUST_HOST=true
# Next
NEXT_PUBLIC_BASE_URL=http://localhost:3000
